html {
    height: 100%;

    --menu-bg-color: rgb(243, 217, 187);
    --menu-border-color: rgb(90, 50, 7);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;

    font-family: Helvetica, sans-serif;
    font-size: 24pt;

    background-color: rgb(203, 223, 239);

    position: relative;
}

/* Info bar */

#info {
    position: fixed;
    left: 0;
    top: 0;

    padding: 4pt;

    border-bottom: 2pt solid var(--menu-border-color);
    border-right: 2pt solid var(--menu-border-color);
    border-bottom-right-radius: 8pt;

    background-color: var(--menu-bg-color);

    font-size: 0.84em;
    color: var(--menu-border-color);
}

#info .progress {
    padding: 2pt 8pt;
}

#labelinfo {
    position: fixed;
    right: 0;
    top: 0;

    padding: 4pt;

    border-bottom: 2pt solid var(--menu-border-color);
    border-left: 2pt solid var(--menu-border-color);
    border-bottom-left-radius: 8pt;
    
    background-color: var(--menu-bg-color);

    font-size: 0.84em;
    color: var(--menu-border-color);
}

#labelinfo .title {
    margin-bottom: 4pt;
    padding: 2pt 8pt;
    text-decoration: underline;
    text-align: center;
}

#labelinfo .labels .label-entry {
    padding: 2pt;
}

/* Cryptic Annotation Tool */

#cat {
    padding: 12pt;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    position: relative;
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#cat.top-down {
    flex-direction: column-reverse;
}

/* Answer box */

.answer {
    flex: 0 0 32pt;
    margin: 12pt 0;

    font-weight: bold;
    color:rgb(213, 6, 26);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Word list */

.wordlist {
    flex: 0 0 32pt;
    margin: 12pt 0;
}

.clue-entry {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.clue-entry .clue-token {
    padding: 0 0.2em;
    font-variant: small-caps;

    border-top: 2.5pt solid black;
    border-bottom: 2.5pt solid black;
    background-color: rgba(216, 248, 255, 0.25);

    cursor: default;

    color: rgba(0, 0, 0, 0.4);
    transition: color 250ms;
}

.clue-entry .clue-token.active {
    color: rgba(0, 0, 0, 1);
}

.clue-entry .clue-space {
    width: 0.4em;

    align-self: stretch;
}

.clue-entry .clue-space.cursor {
    background-color: rgb(239, 189, 218);
    border-top: 2.5pt solid rgba(0, 0, 0, 0.4);
    border-bottom: 2.5pt solid rgba(0, 0, 0, 0.4);
}
.clue-entry .clue-space.marked {
    background-color: rgb(140, 0, 255);
}
.clue-entry .clue-space.cursor.marked {
    background-color: rgb(179, 118, 228);
}
.clue-entry .clue-space.boundary.boundary {
    background-color: rgb(0, 0, 0);
}

/* Filler space */

#cat .filler {
    flex: 0 2 120pt;
}

/* Tree */

.treenodes {
    flex: 1 1 80pt;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: stretch;
}

#cat.top-down .treenodes {
    flex-direction: column;
}

.treenodes .treelevel {
    position: relative;

    /* padding: 4pt 0; */
    margin: -6pt 0;
    flex: 1 1 60pt;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.treenodes .treelevel .node {
    position: absolute;

    width: 36pt;
    height: 36pt;

    border: 2.5pt solid black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(207, 48%, 59%);

    font-size: 0.84em;
    vertical-align: middle;
}

.treenodes .treelevel:nth-child(even) .node {
    background-color: hsl(183, 30%, 55%);
}

.treenodes .treelevel .node.selected {
    background-color: rgb(254, 144, 18);
}

/* Canvas */

canvas#graphics {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 1;
}